version: "3.9"

services:
  app:
    container_name: job-portal-app
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - ./utils/.env
    command: npm run dev
    restart: unless-stopped
