<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Job Finder - Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/custom_css.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/price_rangs.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <main>
        <!-- Top bar -->
        <div class="top_bar">
            <h3>Online Job Finder</h3>
        </div>
        <!-- Top bar ending  -->

        <!-- Login Form -->
        <div class="form_wrapper shadow">
            <div class="my_form">
                <h3 class="register_btn">Login</h3>
                <form action="/login" method="POST">
                    <!-- Role Dropdown -->
                    <div class="mt-10">
                        <select name="role" class="single-input" required>
                            <option value="" disabled selected>Select your role</option>
                            <option value="applicant">Applicant</option>
                            <option value="recruiter">Recruiter</option>
                        </select>
                    </div>

                    <!-- Email Field -->
                    <div class="mt-10">
                        <input type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Email address'" required="" class="single-input">
                    </div>

                    <!-- Password Field -->
                    <div class="mt-10">
                        <input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Password'" required="" class="single-input">
                    </div>

                    <!-- Submit Button -->
                    <div class="mt-20 w-100">
                        <button type="submit" class="redirect_button genric-btn primary text-center w-100">
                            Login
                        </button>
                    </div>
                </form>

                <!-- Register Link -->
                <div class="mt-10 text-center">
                    <p>Don't have an account? <a href="/" style="color: blue;">Register</a></p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="copy_right">
                            <div class="footer-copy-right">
                                <p>Copyright @Job portal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.slicknav.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/price_rangs.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>